<!-- Brand Logo -->
<a href="../../index3.html" class="brand-link">
    <img src="~/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
    <span class="brand-text font-weight-light">Admin System</span>
</a>
<!-- Sidebar -->
<div class="sidebar">
    <div class="image d-inline-block mx-auto">
        <img style="width:50%" src="~/Images/favicon.png" class="img-circle elevation-2" alt="User Image">
    </div>
    <!-- Sidebar user (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex mr-0">
        <div class="infor ml-0">
            <a href="#" class="d-block">ADMIN</a>
            <a class="note-fontsize-10" href="">Change Profile</a>
            <div>
                <a href="">Change Password</a>
            </div>
            <a href="" class="d-block">Logout</a>
        </div>
    </div>

    <!-- SidebarSearch Form -->
    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
            with font-awesome or any other icon font library -->
            <li class="nav-item">
                <a href="" class="nav-link">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                    <p>
                        Dashboard
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link">
                    <i class="nav-icon fas fa-fist-raised"></i>
                    <p>
                        Admisson Management
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link">
                    <i class="nav-icon far fa-registered"></i>
                    <p>
                        Student Registration
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-user-circle"></i>
                    <p>
                        Account 
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="" class="nav-link ml-3">
                            <i class="nav-icon far fa-plus-square"></i>
                            <p>
                                Insert Account
                            </p>
                        </a>
                    </li>
                </ul>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="" class="nav-link ml-3">
                            <i class="nav-icon fas fa-th-list"></i>
                            <p>
                                Account List
                            </p>
                        </a>
                    </li>
                </ul>
            </li>
            <!-- Course  -->
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon fab fa-discourse"></i>
                    <p>
                        Course 
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="" class="nav-link ml-3">
                            <i class="nav-icon far fa-plus-square"></i>
                            <p>
                                Create Course
                            </p>
                        </a>
                    </li>
                </ul>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="" class="nav-link ml-3">
                            <i class="nav-icon fas fa-th-list"></i>
                            <p>
                                Course List
                            </p>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon far fa-building"></i>
                    <p>
                        Department 
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="" class="nav-link ml-3">
                            <i class="nav-icon far fa-plus-square"></i>
                            <p>
                                Create Department
                            </p>
                        </a>
                    </li>
                </ul>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="" class="nav-link ml-3">
                            <i class="nav-icon fas fa-th-list"></i>
                            <p>
                                Department List
                            </p>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-chalkboard-teacher"></i>
                    <p>
                        Faculty 
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="" class="nav-link ml-3">
                            <i class="nav-icon far fa-plus-square"></i>
                            <p>
                                Insert Faculty
                            </p>
                        </a>
                    </li>
                </ul>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="" class="nav-link ml-3">
                            <i class="nav-icon fas fa-th-list"></i>
                            <p>
                                Faculty List
                            </p>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon fab fa-asymmetrik"></i>
                    <p>
                        Facilities 
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="" class="nav-link ml-3">
                            <i class="nav-icon far fa-plus-square"></i>
                            <p>
                                Insert Facilities
                            </p>
                        </a>
                    </li>
                </ul>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="" class="nav-link ml-3">
                            <i class="nav-icon fas fa-th-list"></i>
                            <p>
                                Facilities List
                            </p>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-stream"></i>
                    <p>
                        Stream 
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="" class="nav-link ml-3">
                            <i class="nav-icon far fa-plus-square"></i>
                            <p>
                                Insert Stream
                            </p>
                        </a>
                    </li>
                </ul>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="" class="nav-link ml-3">
                            <i class="nav-icon fas fa-th-list"></i>
                            <p>
                                Stream List
                            </p>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-chalkboard"></i>
                    <p>
                        Field 
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="" class="nav-link ml-3">
                            <i class="nav-icon far fa-plus-square"></i>
                            <p>
                                Insert Field
                            </p>
                        </a>
                    </li>
                </ul>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="" class="nav-link ml-3">
                            <i class="nav-icon fas fa-th-list"></i>
                            <p>
                                Field List
                            </p>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-book"></i>
                    <p>
                        Specialized Subject
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="" class="nav-link ml-3">
                            <i class="nav-icon far fa-plus-square"></i>
                            <p>
                                Insert Specialized Subject
                            </p>
                        </a>
                    </li>
                </ul>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="" class="nav-link ml-3">
                            <i class="nav-icon fas fa-th-list"></i>
                            <p>
                                Specialized Subject List
                            </p>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-volleyball-ball"></i>
                    <p>
                        Optional Subject
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="" class="nav-link ml-3">
                            <i class="nav-icon far fa-plus-square"></i>
                            <p>
                                Insert Optional Subject
                            </p>
                        </a>
                    </li>
                </ul>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="" class="nav-link ml-3">
                            <i class="nav-icon fas fa-th-list"></i>
                            <p>
                                Optional Subject List
                            </p>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="nav-item">
                <a href="" class="nav-link">
                    <i class="nav-icon fas fa-comments"></i>
                    <p>
                        Feedback
                    </p>
                </a>
            </li>
        </ul>
    </nav>
    <!-- /.sidebar-menu -->
</div>
<!-- /.sidebar -->